canvas
h1#name Hage Ropo
p#about= about
#links
	
	a(href='https://github.com/iamropo')
		i(class='fa fa-github', aria-hidden='true')
	
	= '\n'
	
	a(href='https://twitter.com/iamropo')
		i(class='fa fa-twitter', aria-hidden='true')
	= '\n'
	
	a(href='mailto:iamropo@gmail.com')
		i(class='fa fa-envelope', aria-hidden='true')
