h1#name.header Hage Ropo
p#about.content.
	My name is Hage Ropo, I am a full-stack software developer from Bangalore, India. JavaScript is my favorite programming language.
	I love good design, art, concerts, and soccer.

#skills.content
	div #[b#skills-header Skills]
	ul#skills-list
		li Photoshop 
		li HTML 
		li CSS 
		li SASS
		li JavaScript
		li React 
		li Node.js 
		li Express.js
		li MySQL 
		li C 
		li C++ 
		li Python 
		li Linux
		li Bash
		li Git

#social
	a(href='https://github.com/iamropo')
		i(class='fa fa-github', aria-hidden='true')
	= '\n'
	a(href='https://twitter.com/iamropo')
		i(class='fa fa-twitter', aria-hidden='true')
	= '\n'
	a(href='https://www.linkedin.com/in/hage-ropo')
		i(class='fa fa-linkedin-square', aria-hidden='true')
	= '\n'
	a(href='mailto:iamropo@gmail.com')
		i(class='fa fa-envelope', aria-hidden='true')
