canvas
h1#name Hage Ropo
p#about.
	Hi! My name is Hage Ropo, I design and develop web applications. #[b JavaScript] is what I spend my time with the most.  
	Also, I #[b love] soccer, concerts, art and good fonts.

#skills
	b #Skills:
	br
	#skills-list HTML, CSS, JavaScript, Node.js, Express JS, C, C++, Python, Bash Scripting

#links
	
	a(href='https://github.com/iamropo')
		i(class='fa fa-github', aria-hidden='true')
	
	= '\n'
	
	a(href='https://twitter.com/iamropo')
		i(class='fa fa-twitter', aria-hidden='true')
	= '\n'
	
	a(href='mailto:iamropo@gmail.com')
		i(class='fa fa-envelope', aria-hidden='true')
