h2.section-header Misc
.misc
	h5.misc-stuff-title Kakashi Hatake, Painting
	i(class="fa fa-angle-down", aria-hidden="true")
.misc
	h5.misc-stuff-title What do you call a cat t...
	i(class="fa fa-angle-down", aria-hidden="true")
.misc
	h5.misc-stuff-title I saw a Pikachu in a Pit...
	i(class="fa fa-angle-down", aria-hidden="true")
.misc
	h5.misc-stuff-title Stalker, Doodle
	i(class="fa fa-angle-down", aria-hidden="true")
	