h2.section-header #[span.line] #[span.section-header-name Projects]

#projects-container

	.project
		h5.project-title Express.js website
		i.projects-display-button(class="fa fa-angle-down y", aria-hidden="true")
		.project-details.closed
			.project-images-container
				img(src="../images/express-js/mobile.png", alt="")
			.project-description.
				Designed and implemented a responsive layout for the video on the #[a.project-link(href='http://expressjs.com') expressjs.com] home page.
			ul.keywords
				li photoshop
				li html
				li css
				li markdown
				li git
				li open-source

	.project
		h5.project-title Pastebin client
		i(class="fa fa-angle-down", aria-hidden="true")

	.project
		h5.project-title IFIM College fest
		i.projects-display-button(class="fa fa-angle-down", aria-hidden="true")
		.project-details.closed
			.project-images-container
				img(src="../images/aura/mobile.png", alt="")
				img(src="../images/aura/mobile-2.png", alt="")
			.project-description.
				Designed and developed our college's fest website, #[a.project-link(href='http://expressjs.com') ifimaura2017.com] 
			ul.keywords
				li photoshop
				li html
				li css
				li javascript
				li jquery

	.project
		h5.project-title 
		i(class="fa fa-angle-down", aria-hidden="true")

