h2.section-header Projects
#projects-container
	.project
		h5.project-title pbin
		i(class="fa fa-angle-down", aria-hidden="true")

	.project
		h5.project-title ifimaura2017.com
		i(class="fa fa-angle-down", aria-hidden="true")

	.project
		h5.project-title 
		i(class="fa fa-angle-down", aria-hidden="true")

	.project
		h5.project-title noderank
		i(class="fa fa-angle-down", aria-hidden="true")

