doctype html
html
	head
		title Hage Ropo
		include includes/header.pug
	body

		include includes/navigation-bar.pug
		
		#cover.section
			include includes/cover.pug

		#projects.section
			include includes/projects.pug

		#art.section
			include includes/misc.pug

		#hire-status 
			a#hire-me(href='mailto:iamropo@gmail.com') #[span #[img(src='images/a.svg')]] hire me

		-var year = new Date().getFullYear()
		footer.section &#169; Copyright Hage Ropo #{year} 
		
		script
			include js/cover.js
