doctype html
html
	body
		include includes/header.pug
		style
			include css/style.css

		include includes/navigation-bar.pug
		
		#cover.section
			include includes/cover.pug

		#projects.section
			include includes/projects.pug

		#art.section
			include includes/art.pug

		-var year = new Date().getFullYear()
		footer.section &#169; Copyright Hage Ropo #{year} 
		
		script
			include js/cover.js
