@media all and (min-width: 768px) {	
	
	#name {
		font-size: 3.5em;
	}
	
	.section {
		padding: 0px 30px;
	}
	
	.tablet-image {
		display: inline;
	}

	#projects-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-start;
	}
	
	.project {
		width: 320px;
		height: 169px;
		margin: 0 5px 10px 5px;
	}

	.project > i {
		margin: 18px 0px 16px 16px;
	}

	.closed {
		display: block;
	}

	.project-details {
		max-height: 500px;
	}

	.mobile-image, .mobile-projects-display-button, .project-images-container, .move-to-top {
		display: none;
	}

	.tablet-desktop-display-button {
		display: inline-block;
	}
 

}
/*
@media all and (min-width: 1024px) {
	
	body {
		padding: 75px;
	}

	#name {
		font-size: 6.5em;
	}

	nav, #about, #skills {
		font-size: 2.5em;
	}

	#skills {
		margin-bottom: 40px;
	}	

	#skills-list {
		margin-left: 25px;
	}

	#links > a {
		margin: 0px 25px;
		font-size: 2em;
	}

	.section-header {
		font-size: 5em;
	}

	#projects-container, #misc-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.project, .misc {
		width: 320px;
		height: 320px;
		margin: 25px;
	}

 .project-title, .misc-stuff-title, #hire-status {
		font-size: 2.2em;
	}
	
	.project > i, .misc > i {
		display: none;
	}
	
	#hire-status {
		margin-bottom: 40px;
	}

	footer {
		font-size: 2em;
	}

}

@media all and (min-width: 1366px) {

}*/