@font-face {
	font-family: 'Helvetica Thin';
	src: url('../fonts/helvetica-thin.otf');
}

@font-face {
	font-family: 'Helvetica Light';
	src: url('../fonts/helvetica-light.otf');
}

@font-face {
	font-family: 'averta';
	src: url('../fonts/averta-regular.otf');
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding-top: 53px;
	color: #4c4c4c;
	background-color: #ffeb3d;
	font-family: 'Helvetica Light', sans-serif;
}

a {
	text-decoration: none;
	color: #4c4c4c;
}

nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 20px 20px 14px 20px;
	background-color: #fff38f;
}

nav a {
	color: #4c4c4c;
	font-size: .9em;
	font-weight: bold;
	font-family: 'Helvetica Light', sans-serif;	
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav > * {
	display: inline-block;
}

#home {
	margin-right: 15px;
}

nav ul {
	margin: 0px;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin: 0px 15px;
}

nav ul li:last-child {
	margin-right: 0px; 
}

#profile-picture {
	position: absolute;
	top: 12px;
	right: 20px;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
}

#profile-picture img {
	width: 100%;
}

@keyframes rotatePicture {
	from {
		transform: rotateZ(0deg);
	} to {
		transform: rotateZ(360deg);
	}
}

/* cover */

.header, .section-header {
	font-family: 'averta', sans-serif;
}

#name {
	color: #ffffff;
	font-size: 3em;
	font-family: 'averta', serif;	
	text-shadow: 0px 1px #e8d337;
	margin: 25px 0;
	text-align: center;
}

.content {
	font-size: 1em;
	margin-bottom: 35px;
	text-align: center;
}

canvas {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 20px;
}

#about {
	line-height: 1.5em;
}

#skills {
	margin-bottom: 35px;
}

#skills > div {
	text-transform: uppercase;
	text-align: center;
	font-size: .9em;
	font-family: 'futura-ext';
	margin-bottom: 15px;
}

#skills-list {
	font-size: .9em;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#skills-list li {
	padding: 6px 7px 0px 7px;
	margin: 0 2px 4px 2px;
	border-radius: 3px;
	color: #ffeb3d;
	background-color: #4c4c4c;
}

#social {
	text-align: center;
	margin-bottom: 35px;
}

#social > a {
	font-size: 1.5em;
	margin: 0px 5px;
}

.section {
	width: 100%;
	padding: 0px 20px;
}

.section-header {
	position: relative;
	text-align: center;
	font-size: 2em;
}

.line {
	display: inline-block;
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -9;
	border-top: 1px solid #e8d337;
}

.section-header-name {
	background-color: #ffeb3d;
	padding: 0px 15px;
}

#projects-container {
	width: 100%;
}

.project {
	width: 100%;
	border-radius: 3px;
	padding: 0px 15px;
	margin-bottom: 7px;
	font-family: 'Helvetica Thin', sans-serif;
	background-color: #fffacf;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-title {
	margin: 7px 0px 0px 0px;
	font-size: 1.2em;
	color: #666666;
}

.project > i {
	width: 5%;
	margin: 17px 0px 15px 15px;
	font-size: 1.5em;
	font-weight: bolder;
	color: #666666;
}

footer {
	font-size: .8em;
	text-align: center;
	margin: 46px 0px 30px 0px;
}
